#Root{
    -fx-border-color:black;
    -fx-border-radius:20px;
    -fx-background-color:#eeeeee;
    -fx-background-radius:20px;
}

#TitleLabel{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-font-size:15;
}

#FccSelector .label {

}

#Root .button {
    -fx-background-radius:10;
    -fx-font-size:13;
}

#Root .menu-button {
    -fx-background-radius:10;
    -fx-font-size:13;
}

#Root .button:hover {
    -fx-background-color: #969A9F;

}

#Root .menu-button:hover {
    -fx-background-color: #969A9F;
}
